{% extends 'base.html' %} {% block body %}

<h1>Dashboard <br /><small>Welcome Admin</small></h1>
<div class="jumbotron text-center">
  <a class="btn btn-success btn-lg" href="/timeTable">Time Table</a>
  <a class="btn btn-success btn-lg" href="/faculty">Faculty</a>
  <a class="btn btn-success btn-lg" href="/sem_info">Semester Info</a>
  <a class="btn btn-success btn-lg" href="/allot_list">Create allotment list</a>
</div>
<br /><br />
{% endblock %}
