{% extends 'base.html' %} {% block body %}
<br />
<div class="input-group mb-3">
  <input
    type="text"
    class="form-control"
    id="fac_searchall"
    placeholder="Search Faculty"
    aria-label="fac-search"
    aria-describedby="basic-addon1"
  />
</div>
<br />
<div class="float-left">
  <h3>Faculty Information</h3>
</div>

<div class="float-right">
  <button
    type="button"
    class="btn btn-success"
    data-toggle="modal"
    data-target="#facultyInsertModal"
  >
    <i class="bi bi-plus-lg"></i> Add Faculty
  </button>
</div>
<br /><br />
<br />
{%if (data==NULL) or not(data|length)%}

<h3>No Data in table</h3>

{% else %}

<table id="faculty-table" class="table table-striped">
  <thead>
    <tr>
      <th>Faculty ID</th>
      <th>Faculty Name</th>
      <th>Email</th>
      <th>phone_number</th>
      <th>Designation</th>
      <th>Duties Assigned</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for d in data %}

    <tr>
      <td>{{d.faculty_id}}</td>
      <td>{{d.name}}</td>
      <td>{{d.email}}</td>
      <td>{{d.phone_number}}</td>
      <td>{{d.designation}}</td>
      <td>{{d.duties_assigned}}</td>
      <td>
        <button
          type="button"
          class="fac-edit-btn btn btn-primary float-right"
          data-toggle="modal"
          data-target="#facultyUpdateModal"
          data-rec_id="{{d._id}}"
          data-fac_id="{{d.faculty_id}}"
          data-name="{{d.name}}"
          data-email="{{d.email}}"
          data-phone="{{d.phone_number}}"
          data-designation="{{d.designation}}"
          data-fac_da="{{d.duties_assigned}}"
        >
          <i class="bi bi-pencil"></i> Edit
        </button>
      </td>
      <td>
        <button
          type="button"
          class="fac-del-btn btn btn-danger"
          data-toggle="modal"
          data-target="#deleteFacModel"
          data-id="{{d._id}}"
        >
          Delete <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>

    {% endfor %}
  </tbody>
  <!-- Display this <tr> when no record found while search  -->
  <tr class="notfound">
    <td colspan="7">
      <p>No record found</p>
    </td>
  </tr>
</table>
<br />
{% endif %}

<div
  class="modal fade"
  id="facultyInsertModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="facultyInsertModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/faculty/insertFaculty" method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="facultyInsertModalTitle">Add Faculty</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="faculty_id" class="col-form-label">Faculty ID:</label>
            <input
              type="text"
              class="form-control"
              id="faculty-id"
              name="faculty_id"
              placeholder="Enter Faculty ID"
              required
            />
          </div>
          <div class="form-group">
            <label for="faculty_name" class="col-form-label"
              >Faculty Name:</label
            >
            <input
              type="text"
              class="form-control"
              name="faculty_name"
              placeholder="Enter Faculty Name"
              required
            />
          </div>
          <div class="form-group">
            <llabel for="faculty_email" class="col-form-label" bel
              >Email :</llabel
            >
            <input
              type="email"
              class="form-control"
              name="faculty_email"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group">
            <label
              label
              for="faculty_phone"
              title="Enter 10 digit Phone number"
              class="col-form-label"
              >Phone :</label
            >
            <input
              type="tel"
              class="form-control"
              name="faculty_phone"
              placeholder="Enter Phone Number"
              pattern="[0-9]{10}"
            />
          </div>
          <div class="form-group">
            <label
              for="faculty_designation"
              class="col-form-label"
              class="col-form-label"
              >Designation :</label
            >
            <select class="form-control" name="faculty_designation" required>
              <option value="">Select Designation</option>
              <option value="prof">Professor</option>
              <option value="associate_prof">Associate Professor</option>
              <option value="assistant_prof">Assistant Professor</option>
              <option value="lecturer">Lecturer</option>
              <option value="other">Other</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Add</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="deleteFacModel"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteFacModelCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form action="/faculty/deleteFaculty" method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteFacModelLabel">Delete Faculty</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>Are you sure you want to delete this record?</h5>
          <input type="hidden" name="faculty_id" id="delFac-mod-id" value="" />
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            No
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="facultyUpdateModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="facultyUpdateModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/faculty/updateFaculty" method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="facultyUpdateModalTitle">
            Update Faculty
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="rec_id" id="updateFac-rec_id" />
          <div class="form-group">
            <label for="faculty-id" class="col-form-label">Faculty ID:</label>
            <input
              type="text"
              class="form-control"
              id="updateFac-fac_id"
              name="faculty_id"
              placeholder="Enter Faculty ID"
              value=""
              required
            />
          </div>
          <div class="form-group">
            <label for="faculty_name" class="col-form-label"
              >Faculty Name:</label
            >
            <input
              type="text"
              class="form-control"
              id="updateFac-name"
              name="faculty_name"
              value=""
              placeholder="Enter Faculty Name"
              required
            />
          </div>
          <div class="form-group">
            <llabel for="faculty-email" class="col-form-label" bel
              >Email :</llabel
            >
            <input
              type="email"
              class="form-control"
              id="updateFac-email"
              name="faculty_email"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group">
            <label label for="faculty-phone" class="col-form-label"
              >Phone :</label
            >
            <input
              type="tel"
              class="form-control"
              title="Enter 10 digit Phone number"
              id="updateFac-phone"
              name="faculty_phone"
              placeholder="Enter Phone Number"
              pattern="[0-9]{10}"
            />
          </div>
          <div class="form-group">
            <label
              for="faculty-designation"
              class="col-form-label"
              class="col-form-label"
              >Designation :</label
            >
            <select
              class="form-control"
              id="updateFac-designation"
              name="faculty_designation"
              required
            >
              <option value="">Select Designation</option>
              <option value="prof">Professor</option>
              <option value="associate_prof">Associate Professor</option>
              <option value="assistant_prof">Assistant Professor</option>
              <option value="lecturer">Lecturer</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="fac-duties-assigned" class="col-form-label"
              >Duties Assigned:</label
            >
            <input
              type="number"
              class="form-control"
              id="updateFac-da"
              name="faculty_da"
              placeholder="Enter Duties Assigned"
              value=""
              disabled
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Update</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
