{%extends 'base.html'%} {%block head%}
<title>CIE Allotment</title>
{%endblock%} {%block body%}
<div class="jumbotron text-center">
  <h1>Welcome CIE Allotment Portal</h1>
  {% if session.logged_in == NULL%}
  <a href="/dashboard" class="btn btn-success btn-lg">Dashboard</a>
  {%endif%}
</div>
{%endblock%}
